In [1]:
print("Hello, World")

Hello, World

In [2]:
print("My favorite drink is Earl Grey tea.")

My favorite drink is Earl Grey tea.

In [4]:
print("¯\_(ツ)_/¯")

¯\_(ツ)_/¯

<>:1: SyntaxWarning: invalid escape sequence '\_'
<>:1: SyntaxWarning: invalid escape sequence '\_'
C:\Users\PREDATOR\AppData\Local\Temp\ipykernel_26080\3495690502.py:1: SyntaxWarning: invalid escape sequence '\_'
  print("¯\_(ツ)_/¯")

In [5]:
print("2.99")

2.99

In [6]:
print("""Hello, World!
      It's great to be here!""")

Hello, World!
      It's great to be here!

In [9]:
print("Hello, World!It's great to be here!")

Hello, World!It's great to be here!

In [8]:
type("Andrew")

str

In [10]:

type("""
Numbers, text, and truth,
Strings, ints, and floats in our code,
Data shapes our path
""")

str

In [11]:
type(100)

int

In [12]:
type(2.99)

float

In [13]:
print("Complete with chatbot code")

Complete with chatbot code

In [14]:
print("There are 366 days in a leap year")

There are 366 days in a leap year

In [15]:

feet_to_meters = 0.3048


feet = 6

# Convert feet to meters
meters = feet * feet_to_meters
# Formated String
print(f"{feet} feet is equal to {meters} meters")

6 feet is equal to 1.8288000000000002 meters

In [16]:
print(((75 - 32) * 5 / 9))

23.88888888888889

In [17]:
#Formated String
print(f"The temperature 75F in degrees celsius is {(75 - 32) * 5 / 9}C")

The temperature 75F in degrees celsius is 23.88888888888889C

In [18]:
print("Isabel is 28 years old.")

Isabel is 28 years old.

In [19]:
print(f"Isabel is {28/7} dog years old.")

Isabel is 4.0 dog years old.

In [20]:
print(f"Isabel is {28/7:.0f} dog years old.")

Isabel is 4 dog years old.

In [21]:
print(f"""
    Most countries use the metric system for recipe measurement, 
    but American bakers use a different system. For example, they use 
    fluid ounces to measure liquids instead of milliliters (ml).
    
    So you need to convert recipe units to your local measuring system!
    
    For example, 8 fluid ounces of milk is {8 * 29.5735} ml.
    And 100ml of water is {100 / 29.5735} fluid ounces.
""")

    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is 236.588 ml.
    And 100ml of water is 3.381405650328842 fluid ounces.

In [22]:
print(f"I am {20} years old.")

I am 20 years old.

In [24]:
print(f"There are {365/7} weeks in a year")

There are 52.142857142857146 weeks in a year

In [26]:
print(f"The area of a square with side 5 cm is {5*5} cm squared.")

The area of a square with side 5 cm is 25 cm squared.

In [27]:
print(f"The house was a good size: 1200 square feet, or {1200 * 0.092903} meters squared!")

The house was a good size: 1200 square feet, or 111.4836 meters squared!

In [28]:
age = 28
print(age)

28

In [29]:
name = "Otto"
gnome_height = 12.7
print(f"Name: {name}")
print(f"Gnome height: {gnome_height}")

Name: Otto
Gnome height: 12.7

In [33]:
score = 0 # now score is 0
print(score)

score = score + 50 # now score is 0 + 50 which is 50
print(score)

score = score + 100 # now score is 100 + 50 which is 150
print(score)

score = score + 300 # now score is 150 + 300 which is 450
print(score)

0
50
150
450

In [34]:

print(f"""Otto's dog age is {49/7}. So a dog that's about
{49/7} would be the same age as Otto. Any dog born about {49/7}
years ago would be in the same stage of life as Otto.""")

Otto's dog age is 7.0. So a dog that's about
7.0 would be the same age as Otto. Any dog born about 7.0
years ago would be in the same stage of life as Otto.

In [38]:

dog_age = 50/7



print(f"""Otto's dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as Otto. Any dog born about {dog_age}
years ago would be in the same stage of life as Otto.""")

print(f"""{name}'s dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as {name}. Any dog born about {dog_age}
years ago would be in the same stage of life as {name}.""")

name = "Otto Matic"

print(f"""{name}'s dog age is {dog_age}. So a dog that's about
{dog_age} would be the same age as {name}. Any dog born about {dog_age}
years ago would be in the same stage of life as {name}.""")

# Create a variable called 'my_name' and assign it the value of your name as a string.
# Then print out a greeting using the variable, like "Hello, Andrew!"
my_name = "Lekan"
print(my_name)


# In[ ]:


fav_num =40 
print(f"Your favorite number plus 10 is {fav_num}")



print(f"""I have visited {30} countries. I plan to visit {20} more countries, 
      and when I'm done I will have visited {30+20} countries.""")

Otto's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto.
Otto's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto.
Otto Matic's dog age is 7.142857142857143. So a dog that's about
7.142857142857143 would be the same age as Otto Matic. Any dog born about 7.142857142857143
years ago would be in the same stage of life as Otto Matic.
Lekan
Your favorite number plus 10 is 40
I have visited 30 countries. I plan to visit 20 more countries,
      and when I'm done I will have visited 50 countries.

In [45]:
from helper_functions import print_llm_response
print_llm_response("What is the capital of France?")
name = "Otto Matic"
dog_age = 21/7




print_llm_response(f"""If {name} were a dog, he would be {dog_age} years old.
Describe what life stage that would be for a dog and what that might 
entail in terms of energy level, interests, and behavior.""")



driver = "unicorn"
drivers_vehicle = "colorful, asymmetric dinosaur car"
favorite_planet = "Pluto"


print_llm_response(f"""Write me a 300 word children's story about a {driver} racing
a {drivers_vehicle} for the {favorite_planet} champion cup.""")

ModuleNotFoundError: No module named 'helper_functions'